body
{
    background-color: darksalmon;
}
p
{
    background-color: antiquewhite;
    padding: 10px 0;
    
}
#pan_tadeusz
{
    background-color: fuchsia;
    color: yellow;
}
.loren ~ a
{
    font-size: 20px;
    background-color: lawngreen;
}
1
p#pierwszy + a
{
    font-weight: bold;
    color:aqua;
}

div#elementy_potomne p
{
    background-color: darkcyan;
}

div#elementy_potomne > p:not(.last)
{
    color: dodgerblue;
}


div#elementy_potomne > p:nth-child(2)
{
    color: hotpink;
}