body
{
    background-color: darksalmon;
}
p
{
    background-color: antiquewhite;
    padding: 10px 0;
    
}
#pan_tadeusz
{
    background-color: fuchsia;
    color: yellow;
}
.loren
{
    font-size: 20px;
}
